{% extends 'my_auth/base_my_auth.html' %}


{% block title %}
    <title>Вы заблокированы на 15 минут</title>
{% endblock title %}


{% block content %}
    <div class="jumbotron jumbotron-fluid h-100 m-0 p-0">
        <div class="container">
            <h1 class="display-4">Вы были заблокированы на 15 минут!</h1>
            <p class="lead">Мы заметили подозрительную активность с вашего IP адреса, в целях безопасности ваш IP был заблокирован на 15 минут.</p>
        </div>
    </div>
{% endblock content %}
    